<div class="app-page">
  <div class="app-page__header">
    <app-filters
      [disabled]="isLoading"
      [filterOptions]="filterOptions"
      [defaultFilters]="selectedFilters"
      (filtersChanged)="onFiltersChanged($event)"
    ></app-filters>
  </div>

  <div class="app-page__content">
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
    ></app-table>
  </div>

  <div class="app-page__footer">
    <app-pagination
      [paginationInfo]="paginationInfo"
      [disabled]="isLoading"
      (pageChange)="onPageChanged($event)"
    ></app-pagination>
  </div>
</div>
